* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1.5px solid black;
  box-shadow: 2px 2px 10px;
}

.casilla {
  width: 100%;
  border: 1.5px solid black;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.casilla:nth-child(2n):nth-child(-n + 8),
.casilla:nth-child(2n + 9):nth-child(-n + 16),
.casilla:nth-child(2n + 18):nth-child(-n + 24),
.casilla:nth-child(2n + 25):nth-child(-n + 32),
.casilla:nth-child(2n + 34):nth-child(-n + 40),
.casilla:nth-child(2n + 41):nth-child(-n + 48),
.casilla:nth-child(2n + 50):nth-child(-n + 56),
.casilla:nth-child(2n + 57):nth-child(-n + 64) {
  background-color: rgb(244, 162, 148);
}
